.container {
	width: 734px; /*note the borders of each square adds to this width!!!! so right now have 7 borders in each row each 2px thick, with 120px by 120px box this is (6 * 120 + 7 * 2)   */
	height: 900px;
	margin: auto;
	margin-top: 100px;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: Candara;
}

.turn_counter {
	text-align: left;
	font-size: 20px;
	font-family: Helvetica;
}

.player_turn {
	text-align: left;
	font-size: 20px;
	font-family: Helvetica;
}

.player_HP {
	text-align: left;
	font-size: 20px;
    font-family: Helvetica;

}.bombs_remaining {
	text-align: left;
	font-size: 20px;
	font-family: Helvetica;
}

.row {
	height: 120px;
}

.col {
    height: 120px;
    width: 120px;
    float: left;
    font-size: 60px;
    text-align: center;
    line-height: 120px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.col[data-hidden='1'] {
    font-size: 10px;
    color: transparent !important;
    background-color: gray;
}

.col[data-hidden='0'] {
    font-size: 60px;
}

.col[data-selected='1'][data-team='0'] {
    font-size: 30px;
}

.col[data-selected='1'][data-team='1'] {
    font-size: 30px;
}

.col[data-team='0'] {
    color: coral;
    background-color: gray;
}

.col[data-team='1'] {
    color: lightblue;
    background-color: gray;
}

.col[data-empty='1'][data-hidden='0'] {
    background-color: white;
}


.border-r {
	border-right: 2px solid black;
}

.border-b {
	border-bottom: 2px solid black;
}

.border-t {
	border-top: 2px solid black;
}

.border-l {
	border-left: 2px solid black;
}
